<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col" >
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://www.ulm.de/leben-in-ulm/digitale-stadt">
              <img src="{{ site.baseurl }}/assets/images/zda-logo.svg" width="100" alt="Stadt Ulm, Z/DA" />
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://www.ulm.de/leben-in-ulm/digitale-stadt">Digitale Agenda</a></li>
            <li><a href="https://github.com/stadtulm">GitHub</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://www.ulm.de/sonderseiten/datenschutzerklaerung">Datenschutz</a></li>
            <li><a href="https://www.ulm.de/sonderseiten/impressum">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{site.baseurl}}/assets/uswds/js/uswds.min.js"></script>

</body>
</html>