{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">OpenBike</span> Bikesharing-Test mit Stadt-Beschäftigten
      </h2>
      <p>Wir entwickeln ein freies, offenes Bikesharingsystem. Der erste Test mit Beschäftigten der Stadt Ulm läuft nun.</p>
      <a class="usa-button" href="/projects/openbike/">Mehr erfahren</a>
    </div>
  </div>
</section>