{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Stadt gestalten. Nachhaltig und Open Source</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Wir entwickeln Open Source Software von der Stadt, für die Stadt. Mit klarem Bekenntnis zu offenen Daten und offenen, standardisierten Schnittstellen &mdash; sodass es nicht nur gut für Ulm ist, sondern auch nachnutzbar in jeder Kommune.</p>
    </div>
  </div>
</section>